* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

.cardGroup {
  width: 1296px;
  margin: 50px auto;a
}
.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.cardItem {
  width: 636px;
  border-radius: 8px;
  margin-bottom: 80px;
}
.cardItem img {
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid #F1F1F1;
}
.cardItem h2 {
  margin-bottom: 8px;
}
.cardItem p {
  color: #919191;
  margin-bottom: 24px;
}
.text {
  padding: 0 16px;
}
.works {
  display: flex;
  gap: 16px;
}
.works li {
  border-radius: 16px;
  background-color:  #F1F1F1;
;
  font-size: 16px;
  display: inline-block;
  padding: 4px 12px;
  list-style: none;
}
.works li a {
  text-decoration: none;
  color: #3b3b3b;
}
